html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: F8F9FA;
    margin: 0;
    padding: 0;
}

body {

}

p {
    font-family: "Raleway";
}

h1, h2, h3, h4 {
    color: #495057;
}

h1 {
    padding: 20px;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
}

nav {
    display: flex;
    justify-content: center;
}

img {
    display: block; /* le immagini sono un inline element come i paragrafi */
    margin: 0;
}

.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
}

.card {
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

#home-bio {
    flex-wrap: wrap;
    justify-content: space-around;
}

#home-main {
    flex-wrap: wrap;
    flex-direction: column;
}

#mattia {
    width: 300px;
}


#menu-principale li {
    list-style: none;
    display: inline;
    margin: 20px;
}

#bio {
    width: 600px;
}

#menu-blog li{
    list-style: none;
    display: inline;
    margin: 20px;
}

#blog {
    flex-direction: raw;
    flex-wrap: wrap;
}

.blogpost-info li{
    display: inline;
    list-style: none;
    font-size: 12px;
}

.post-meta-line {
    display: flex;
    justify-content: space-between;
}

.card-meta-line {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.card-meta-title {
    font-size: 16px;
}

.card-preview-text {
    font-size: 14px;
}

#menu-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-blog {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
}

form {
    display: flex;
    max-height: 20px;
}

.article-latest {
    width: 600px;
}

#home-lavori {
    flex-direction: column;
}

#home-lavori-iframe {
    flex-wrap: wrap;
}

section {
    
}

#home-nav-start2impact {
    justify-content: space-between;
    align-items: center;
}
