html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: F8F9FA;
    margin: 0;
    padding: 0;
}

body {

}

p {
    font-family: "Raleway";
}

h1, h2, h3, h4 {
    color: #495057;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
}

nav {
    display: flex;
    flex-direction:row;
}

.container1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container2 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img {
    display: block; /* le immagini sono un inline element come i paragrafi */
    margin: 0;
}

#mattia {
    width: 300px;
}


#menu-principale {
    list-style: none;
}

#bio {
    width: 600px;
}
